<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdp.mapper.FollowMapper">

    <!-- 删除特定用户的所有关注记录 -->
    <delete id="deleteFollowUserByUserId">
        DELETE FROM tb_follow WHERE user_id = #{userId} and follow_user_id = #{followUserId}
    </delete>

</mapper>
